<div class="min-h-screen flex flex-col items-center pt-20 bg-gray-50 text-center">

    <div class="flex justify-center">
        <img src="assets/pageNotFound.png" alt="Page not found"
            class="w-80 md:w-96 drop-shadow-lg animate-pulse-slow" />
    </div>

    <h1 class="text-3xl font-bold text-gray-800 mt-6 pt-4 pb-2">Oops! Page Not Found</h1>
    <p class="text-gray-500 mt-2 max-w-md">
        The page you’re looking for doesn’t exist or has been moved.
    </p>

    <div class="mt-8 pt-5">
        <p-button severity="info" raised="true"> <a routerLink="/home" class="text-xl text-white font-semibold">
                Back to Home
            </a></p-button>
    </div>
</div>