<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="submitForm()">
  <div class="grid gap-4">

    <input pInputText placeholder="Category Name" formControlName="name" />
    <p-treeSelect [options]="treeCategories || []" optionValue="key" [filter]="true" appendTo="body"
      placeholder="Parent Category" formControlName="parent"></p-treeSelect>
    <input pInputText placeholder="Category Type" formControlName="type" />
    <input pInputText placeholder="Description" formControlName="description" />

    <button pButton type="submit" label="Save" class="mt-4 w-full"></button>
  </div>
</form>