<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="submitForm()">
  <div class="grid gap-4">

    <input pInputText placeholder="Category Name" formControlName="name" />
    <p-treeSelect [options]="treeCategories || []" optionValue="key" optionLabel="label" [filter]="true" appendTo="body"
      placeholder="Parent Category" formControlName="parent"></p-treeSelect>
    <input pInputText placeholder="Category Type" formControlName="type" />
    <input pInputText placeholder="Description" formControlName="description" />
    <div class="mt-3">
      <p-fileUpload #fileUplod name="image" mode="advanced" accept="image/*" [auto]="true" chooseLabel="Upload Image"
        customUpload="true" (uploadHandler)="onFileSelected($event)" [showUploadButton]="false"
        [showCancelButton]="false" [maxFileSize]="2000000">
      </p-fileUpload>
    </div>

    <button pButton type="submit" label="Save" class="mt-4 w-full"></button>
  </div>
</form>