
<div class="max-w-2xl w-full mx-auto bg-white p-6 rounded-xl shadow-lg">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-3xl font-bold flex items-center gap-2 pb-4">
      <i [ngClass]="isEditing ? 'pi pi-user-edit text-green-400' : 'pi pi-user text-blue-400'"></i>
      {{ isEditing ? 'Update Profile' : 'My Profile' }}
    </h2>
    <div class="flex gap-4">
      <p-button *ngIf="!isEditing" icon="pi pi-pencil" variant="text" pTooltip="Edit Profile" tooltipPosition="top"
        (onClick)="toggleEdit()" severity="info" />
      <p-button *ngIf="isEditing" pTooltip="Save Changes" tooltipPosition="top" icon="pi pi-save"
        (onClick)="updateProfile()" variant="text" />
      <p-button icon="pi pi-times hover:text-red-500" variant="text" pTooltip="Exit" tooltipPosition="top"
        (onClick)="close()" severity="danger" />
    </div>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="space-y-4">

    <div class="pt-1 pb-4">
      <label class="font-semibold flex items-center gap-2">
        <i class="pi pi-user"></i> Name
      </label>
      <input type="text" formControlName="name" class="w-full border rounded p-2" [readonly]="!isEditing" />
    </div>

    <div class="pb-3">
      <label class="font-semibold flex items-center gap-2">
        <i class="pi pi-envelope"></i> Email
      </label>
      <input type="email" formControlName="email" class="w-full border rounded p-2 bg-gray-100" [readonly]="true" />
    </div>

    <div class="pb-3">
      <label class="font-semibold flex items-center gap-2">
        <i class="pi pi-phone"></i> Phone Number
      </label>
      <input type="text" formControlName="phoneNumber" class="w-full border rounded p-2" [readonly]="!isEditing" />
    </div>

    <div *ngIf="isEditing" class="space-y-4">
      <div>
        <label class="font-semibold flex items-center gap-2">
          <i class="pi pi-mobile"></i> Alternate Number
        </label>
        <input type="text" formControlName="alternateNumber" class="w-full border rounded p-2" />
      </div>

      <div class="pt-4" *ngIf="user.role !== 'admin'">
        <fieldset formGroupName="address" class="space-y-2 border p-4 rounded">

          <legend class="font-semibold flex items-center gap-2"><i class="pi pi-home"></i> Address</legend>

          <div class="pb-4 pt-2">
            <p-floatlabel variant="on">
              <input pInputText id="fullName" formControlName="fullName" autocomplete="off" class="w-full" />
              <label for="Full Name" class="pi pi-user"> Full Name </label>
            </p-floatlabel>
          </div>

          <div class="pb-4">
            <p-floatlabel variant="on">
              <input pInputText id="address" formControlName="address" autocomplete="off" class="w-full" />
              <label for="Address" class="pi pi-home"> Address </label>
            </p-floatlabel>
          </div>

          <div class="pb-4">
            <p-floatlabel variant="on">
              <input pInputText id="city" formControlName="city" autocomplete="off" class="w-full" />
              <label for="City">City</label>
            </p-floatlabel>

          </div>

          <div class="pb-4">
            <p-floatlabel variant="on">
              <input pInputText id="state" formControlName="state" autocomplete="off" class="w-full" />
              <label for="State">State</label>
            </p-floatlabel>
          </div>

          <div class="pb-4">
            <p-floatlabel variant="on">
              <input pInputText id="country" formControlName="country" autocomplete="off" class="w-full" />
              <label for="Country">Country</label>
            </p-floatlabel>
          </div>

          <div class="pb-4">
            <p-floatlabel variant="on">
              <input pInputText id="postalCode" formControlName="postalCode" autocomplete="off" class="w-full" />
              <label for="Postal Code">Postal Code</label>
            </p-floatlabel>
          </div>

        </fieldset>
      </div>

    </div>
  </form>
</div>

