<div class="p-6 min-h-screen flex flex-col md:flex-row gap-6">

  <app-filters *ngIf="wishlists.length > 0" (filtersChanged)="applyFilters()"></app-filters>

  <div class="flex-1">

    <h2 *ngIf="wishlists.length" class="text-2xl font-bold mb-6 pb-2">
      My Wishlist ({{wishlists.length}})
    </h2>

    <div *ngIf="wishlists.length === 0" class="text-center py-20">
      <i class="pi pi-heart text-6xl text-gray-300 mb-4"></i>
      <p class="text-gray-500 text-2xl font-medium">Your wishlist is empty</p>
      <p class="text-gray-400 text-sm mt-2">Start saving your favorite products!</p>
    </div>

    <div *ngFor="let item of wishlists"
      class="group relative flex flex-col sm:flex-row items-center gap-6 p-5 rounded-2xl bg-white/80 backdrop-blur-md border border-gray-200 hover:shadow-lg transition-all duration-300 mb-4 cursor-pointer"
      (click)="moveToCart(item.product._id)">

      <div class="absolute top-3 right-3">
        <p-button icon="pi pi-trash" severity="danger" variant="text" pTooltip="Remove" tooltipPosition="top"
          (onClick)="remove($event, item.product._id)">
        </p-button>
      </div>

      <div
        class="w-28 h-28 sm:w-32 sm:h-32 flex justify-center items-center group-hover:scale-105 transition-transform duration-300">
        <img [src]="item.product.images[0].startsWith('http') ? item.product.images[0] : environment.apiUrl + item.product.images[0]" alt="{{ item.product.name }}"
          class="max-w-full max-h-full object-contain rounded-lg" />
      </div>

      <div class="flex-1 flex flex-col gap-1">
        <h2
          class="text-xl sm:text-2xl font-semibold text-gray-800 truncate transition-colors">
          <span class="text-teal-500 font-bold">{{ item.product.brand | titlecase }}</span>
          {{ item.product.name | titlecase }}
        </h2>

        <div class="flex items-baseline gap-2 mt-2">
          <p class="text-lg sm:text-xl font-bold text-gray-900">
            {{ item.product.price | currency : 'INR' }}
          </p>
          <p *ngIf="item.product.oldPrice" class="text-gray-400 line-through text-sm">
            ₹{{ item.product.oldPrice }}
          </p>
          <span *ngIf="item.product.oldPrice" class="text-sm font-semibold text-green-600">
            {{ (((item.product.oldPrice - item.product.price) / item.product.oldPrice) * 100) | number:'1.0-0' }}% OFF
          </span>
        </div>
      </div>

      <div *ngIf="filteredProducts.length > pageSize" class="flex justify-center mt-6">
        <p-paginator [rows]="pageSize" [totalRecords]="filteredProducts.length" [rowsPerPageOptions]="[4, 8, 12]"
          [first]="currentPage * pageSize" (onPageChange)="onPageChange($event)">
        </p-paginator>
      </div>

    </div>
    <p-confirmpopup />
  </div>