<div class="p-4 bg-white min-h-screen text-black">

    <div *ngIf="payments.length === 0" class="text-center py-10 text-gray-500 text-3xl font-medium">
        Your payments is empty.
    </div>

    <div *ngIf="payments.length" class="overflow-x-auto">
        <p-table [value]="payments" class="shadow-lg rounded-lg overflow-hidden min-w-full" selectionMode="single"
            [rows]="10" [paginator]="true" scrollable="true" scrollHeight="auto">

            <ng-template pTemplate="header">
                <tr class="bg-gray-800 text-white">
                    <th class="whitespace-nowrap">Order Detail</th>
                    <th class="whitespace-nowrap">Payment ID</th>
                    <th class="whitespace-nowrap">Amount</th>
                    <th class="whitespace-nowrap">Method</th>
                    <th class="whitespace-nowrap">Payment Status</th>
                    <th class="whitespace-nowrap">Date</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-payment>
                <tr class="hover:bg-gray-100">
                    <td class="whitespace-nowrap">
                        <a [routerLink]="['/my-orders', payment.orderId._id]"
                            class="text-slate-500 hover:text-blue-600 transition" pTooltip="Click to view order details"
                            tooltipPosition="bottom">
                            View
                        </a>
                    </td>

                    <td class="whitespace-nowrap">{{ payment._id }}</td>
                    <td class="whitespace-nowrap">₹ {{ payment.amount | currency:'INR' }}</td>
                    <td class="whitespace-nowrap">{{ payment.method | uppercase }}</td>
                    <td class="whitespace-nowrap">
                        <span [ngClass]="{
              'text-green-500': payment.status === 'Paid',
              'text-yellow-500': payment.status === 'Pending',
              'text-red-500': payment.status === 'Failed'
            }" class="flex items-center gap-1">
                            <i *ngIf="payment.status==='Paid'" class="pi pi-check-circle"></i>
                            <i *ngIf="payment.status==='Pending'" class="pi pi-clock"></i>
                            <i *ngIf="payment.status==='Failed'" class="pi pi-times-circle"></i>
                            {{ payment.status }}
                        </span>
                    </td>
                    <td class="whitespace-nowrap">{{ payment.createdAt | date:'dd MMM yyyy' }}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center py-4 text-gray-500">
                        No payments found.
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>