<form [formGroup]="productForm" (ngSubmit)="submitForm()">
  <div class="grid gap-4">

    <input pInputText placeholder="Product Name" formControlName="name" />
    <input pInputText placeholder="Description" formControlName="description" />

    <input pInputText placeholder="Brand" formControlName="brand" />

    <p-treeSelect *ngIf="productTrees.length" [options]="productTrees" formControlName="category"
      placeholder="Select Category" selectionMode="single" appendTo="body"
      (onNodeSelect)="onCategoryChange($event.node.key)">
    </p-treeSelect>

    <div formGroupName="features" *ngIf="featuresGroup" class="border p-4 rounded-md bg-gray-50">
      
      <h3 class="text-lg font-semibold mb-3 pb-2">Product Features</h3>

      <div *ngIf="featureKeys.length === 0" class="text-gray-500 p-2">
        No features defined for this category.
      </div>

      <div *ngFor="let key of featureKeys" class="grid grid-cols-3 gap-6 pb-2 items-center mb-3">

        <label class="font-medium">{{ formatFeatureLabel(key) }}</label>

        <div *ngIf="isMultiSelectFeature(key)" [formArrayName]="key" class="flex flex-wrap gap-6">
          <div *ngFor="let opt of getFeatureOptions(key); let i = index" class="flex items-center gap-2">
            <p-checkbox binary="true" [formControlName]="i" [inputId]="key + '-' + i"></p-checkbox>

            <label [for]="key + '-' + i" class="cursor-pointer">
              {{ opt }}
            </label>
          </div>
        </div>


        <div *ngIf="isBooleanFeature(key)" class="flex items-center gap-2">
          <p-checkbox binary="true" [formControlName]="key"></p-checkbox>
          <span>{{ featuresGroup.get(key)?.value ? 'Yes' : 'No' }}</span>
        </div>

        <p-select *ngIf="hasOptions(key) && !isMultiSelectFeature(key) && !isBooleanFeature(key)"
          [options]="getFeatureDropdownOptions(key)" [formControlName]="key"
          placeholder="Select {{ formatFeatureLabel(key) }}"></p-select>


        <p-button icon="pi pi-trash" severity="danger" type="button" (click)="removeFeature(key)">
        </p-button>

      </div>


      <div class="flex gap-2 mt-3">
        <input pInputText #newFeatureName placeholder="Feature Name" class="flex-1" />
        <input pInputText #newFeatureValue placeholder="Feature Value" class="flex-1" />
        <p-button icon="pi pi-plus" class="ml-2" (click)="addFeature(newFeatureName, newFeatureValue)" type="button">
        </p-button>
      </div>
    </div>


    <input pInputText placeholder="Price" type="number" formControlName="price" />
    <input pInputText placeholder="Old Price" type="number" formControlName="oldPrice" (input)="calculateDiscount()" />

    <input pInputText placeholder="Discount (%)" type="number" formControlName="discount" readonly />

    <input pInputText placeholder="Stock" type="number" formControlName="stock" />

    <div formArrayName="images" class="border p-4 rounded-md bg-gray-50 mt-4">
      <h3 class="text-lg font-semibold mb-3 pb-2">Product Images</h3>

      <div *ngFor="let imgCtrl of images.controls; let i = index" class="flex items-center gap-4 mb-3">

        <div class="flex items-center gap-2 flex-1">
          <input #fileInput type="file" hidden (change)="onFileChange($event, i)" />
          <p-button label="Choose File" icon="pi pi-upload" (click)="fileInput.click()"></p-button>
          <span *ngIf="images.at(i).value?.file" class="truncate text-gray-700 ml-2">
            {{ images.at(i).value.file.name }}
          </span>
        </div>

        <div *ngIf="imgCtrl.value.preview">
          <img [src]="imgCtrl.value.preview" class="h-20 w-20 object-cover rounded-md border" />
        </div>

        <div>
          <p-button icon="pi pi-trash" severity="danger" (click)="removeImage(i)" type="button"></p-button>
        </div>
      </div>


    </div>


    <button pButton type="submit" label="Save" class="mt-4 w-full"></button>
  </div>
</form>