<div class="min-h-screen flex items-start justify-center pt-4 pb-5 ">

    <div class="p-6 max-w-4xl mx-auto  w-full  rounded-lg shadow-lg">

        <h2 class="text-3xl font-bold text-gray-800 mb-4 pt-3 pb-8">Place Your Order</h2>

        <div class="card flex justify-center">
            <p-stepper [(value)]="activeStep" class="basis-[50rem]" [linear]="true">

                <p-step-list>
                    <p-step [value]="1">Cart</p-step>
                    <p-step [value]="2">Shipping</p-step>
                    <p-step [value]="3">Payment</p-step>
                </p-step-list>


                <div class="overflow-y-auto h-full">

                    <p-step-panels class="min-h-[50rem] md:min-h-[60rem]">

                        <p-step-panel [value]="1" class="same-height-step">
                            <ng-template #content let-activateCallback="activateCallback">

                                <div *ngFor="let item of checkoutItems; let i = index "
                                    class="flex items-center justify-between border-b border-gray-200 py-3 ">

                                    <div class="flex items-center gap-5 p-5 bg-white ">

                                        <div class="w-35 h-44 md:h-50 md:w-50 flex-shrink-0 overflow-hidden rounded-xl">
                                            <img [src]="'http://localhost:3000' + item.product.images[0]"
                                                alt="{{ item.product.name }}"
                                                class="w-full h-full object-cover transition-transform duration-500 hover:scale-105" />
                                        </div>

                                        <div class="flex-1 flex flex-col justify-between">
                                            <div>
                                                <p class="text-lg font-semibold text-gray-800 pb-2">{{ item.product.name
                                                    | titlecase}}
                                                </p>
                                                <p class="text-gray-500 text-sm mt-1 line-clamp-2 pb-2">{{
                                                    item.product.description | titlecase }}</p>
                                            </div>

                                            <div class="flex flex-col mt-3 items-start gap-2">

                                                <p class="text-slate-500 font-bold text-lg pb-2">
                                                    {{ item.product.price * item.quantity | currency : 'INR'}}
                                                </p>

                                                <div class="flex items-center gap-2">
                                                    <p-button icon="pi pi-minus" (onClick)="decreaseQuantity(i)"
                                                        [outlined]="true" [rounded]="true" [size]="'small'"></p-button>
                                                    <span
                                                        class="px-5 py-1 bg-slate-300 rounded-full font-semibold text-gray-700">{{
                                                        item.quantity }}</span>
                                                    <p-button icon="pi pi-plus" (onClick)="increaseQuantity(i)"
                                                        [outlined]="true" [rounded]="true" [size]="'small'"></p-button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                    <div *ngIf="item.product.oldPrice && item.product.oldPrice > item.product.price"
                                        class="bg-yellow-100 text-yellow-800 font-semibold px-2 py-1 rounded text-sm">
                                        {{ (((item.product.oldPrice - item.product.price)/item.product.oldPrice)*100) |
                                        number:'1.0-0' }}% OFF
                                    </div>
                                </div>

                                <div class="mt-6 pb-2 pt-4 px-5 md:px-0">
                                    <div class="rounded-xl shadow-inner bg-gray-50 p-5">
                                        <h3 class="text-2xl font-bold text-gray-700 pb-1 border-b border-gray-200">Order
                                            Summary</h3>

                                        <p class="flex justify-between pt-1">
                                            <span>Product Price </span>
                                            <span class="font-bold">{{ itemPrice | currency : 'INR'}}</span>
                                        </p>

                                        <p class="flex justify-between pt-1">
                                            <span>Tax Price</span>
                                            <span class="font-bold">
                                                <span class="font-bold">
                                                    {{ taxPrice && taxPrice > 0 ? (taxPrice | currency
                                                    :'INR') : 'Included in price' }}
                                                </span>
                                            </span>
                                        </p>


                                        <p class="flex justify-between">
                                            <span>Shipping Charge </span>
                                            <span class="font-bold">
                                                {{ shippingPrice && shippingPrice > 0 ? (shippingPrice | currency
                                                :'INR') : 'Free shipping' }}
                                            </span>
                                        </p>

                                        <p class="flex justify-between">
                                            <span>Delivery Charge </span>
                                            <span class="font-bold">
                                                {{ deliveryPrice && deliveryPrice > 0 ? (deliveryPrice | currency
                                                :'INR') : 'Free delivery' }}
                                            </span>
                                        </p>

                                        <div class="mt-6 pb-2 pt-3">
                                            <h3 class="text-xl font-bold text-slate-500 pb-3 text-center md:text-left">
                                                Amount Payable :
                                                <span class="text-black text-2xl">{{ totalAmount | currency
                                                    :'INR'}}</span>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="flex pt-6 justify-end">
                                        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" variant="text"
                                            (onClick)="activateCallback(2)" />
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>


                        <p-step-panel [value]="2" class="same-height-step">
                            <ng-template #content let-activateCallback="activateCallback">

                                <div *ngIf="previousAddress" class="mt-8 p-4 bg-gray-50 rounded-xl shadow-inner">
                                    <h4 class="text-xl  font-semibold text-gray-700 mb-2 pb-1">Current Address</h4>
                                    <div class="border-t border-gray-200 pt-1">
                                        <p class="text-gray-600">
                                            {{ previousAddress.fullName | titlecase}}, {{ previousAddress.address |
                                            titlecase }}, {{
                                            previousAddress.city | titlecase }} -
                                            {{
                                            previousAddress.postalCode }}, {{ previousAddress.state | titlecase }}, {{
                                            previousAddress.country | titlecase }}
                                        </p>
                                        <p class="text-gray-600">Phone Number : {{ previousAddress.phoneNumber }}</p>
                                        <p class="text-gray-600">Alternate Number : {{ previousAddress.alternateNumber
                                            }}
                                        </p>
                                    </div>
                                </div>

                                <form [formGroup]="checkoutForm">

                                    <div class="mt-6">
                                        <h3 class="text-2xl font-semibold mb-2 pt-3 pb-5">Shipping Address</h3>

                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="text" id="fullName"
                                                        formControlName="fullName" autocomplete="off" pSize="large"
                                                        class="w-full max-w-2xl border rounded-md" />
                                                    <label for="fullName">Full Name</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('fullName')?.touched && checkoutForm.get('fullName')?.hasError('required')">
                                                    Full Name is required
                                                </small>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('fullName')?.touched && checkoutForm.get('fullName')?.hasError('minlength')">
                                                    Name must be at least 4 characters
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="number" id="phoneNumber"
                                                        formControlName="phoneNumber" autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="phoneNumber">Phone Number</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('phoneNumber')?.touched && checkoutForm.get('phoneNumber')?.hasError('required')">
                                                    Phone number is required
                                                </small>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('phoneNumber')?.touched && checkoutForm.get('phoneNumber')?.hasError('pattern')">
                                                    Enter a valid phone number
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="number" id="alternateNumber"
                                                        formControlName="alternateNumber" autocomplete="off"
                                                        pSize="large" class="w-full p-3 border rounded-md" />
                                                    <label for="alternateNumber">Alternate Number</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('alternateNumber')?.touched && checkoutForm.get('alternateNumber')?.hasError('required')">
                                                    Alternate number is required
                                                </small>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('alternateNumber')?.touched && checkoutForm.get('alternateNumber')?.hasError('pattern')">
                                                    Enter a valid phone number
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="text" id="address" formControlName="address"
                                                        autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="address">Address</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('address')?.touched && checkoutForm.get('address')?.hasError('required')">
                                                    Address is required
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="text" id="city" formControlName="city"
                                                        autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="city">City</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('city')?.touched && checkoutForm.get('city')?.hasError('required')">
                                                    City is required
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="text" id="state" formControlName="state"
                                                        autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="state">State</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('state')?.touched && checkoutForm.get('state')?.hasError('required')">
                                                    State is required
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="number" id="postalCode"
                                                        formControlName="postalCode" autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="postalCode">Postal Code</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('postalCode')?.touched && checkoutForm.get('postalCode')?.hasError('required')">
                                                    Postal code is required
                                                </small>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('postalCode')?.touched && checkoutForm.get('postalCode')?.hasError('pattern')">
                                                    Enter a valid postal code
                                                </small>
                                            </div>

                                            <div class="relative pb-2">
                                                <p-floatlabel variant="on">
                                                    <input pInputText type="text" id="country" formControlName="country"
                                                        autocomplete="off" pSize="large"
                                                        class="w-full p-3 border rounded-md" />
                                                    <label for="country">Country</label>
                                                </p-floatlabel>
                                                <small class="absolute text-red-400 text-sm mt-1"
                                                    *ngIf="checkoutForm.get('country')?.touched && checkoutForm.get('country')?.hasError('required')">
                                                    Country is required
                                                </small>
                                            </div>

                                        </div>

                                    </div>

                                </form>

                                <div class="flex pt-6 justify-between">
                                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" variant="text"
                                        (onClick)="activateCallback(1)" />
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" variant="text"
                                        (onClick)="activateCallback(3)" />
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="3" class="same-height-step">
                            <ng-template #content let-activateCallback="activateCallback">

                                <form [formGroup]="checkoutForm">
                                    <div class="md:col-span-2 text-center px-2 py-6">
                                        <h3 class="text-2xl font-semibold mb-4 pb-5 border-gray-200 border-b">Choose A
                                            Payment Method</h3>

                                        <div
                                            class="flex flex-col md:flex-col justify-start items-start gap-4 mb-6 pt-3 pb-4">
                                            <div *ngFor="let option of paymentOptions" class="flex items-center gap-2">
                                                <p-radioButton [value]="option.value" [invalid]="!option.value"
                                                    formControlName="payment">
                                                </p-radioButton>
                                                <label>{{ option.label }}</label>
                                            </div>
                                        </div>

                                        <p-button label="Proceed to Payment" severity="warn" [raised]="true"
                                            [disabled]="checkoutForm.invalid" class="mt-2" icon="pi pi-credit-card"
                                            (onClick)="proceedToPayment()">
                                        </p-button>
                                    </div>

                                    <div class="bottom-6 left-6 mt-4">
                                        <p-button label="Back" icon="pi pi-arrow-left" iconPos="left"
                                            (onClick)="activateCallback(2)" severity="secondary" variant="text">
                                        </p-button>
                                    </div>
                                </form>

                            </ng-template>
                        </p-step-panel>


                    </p-step-panels>

                </div>

            </p-stepper>
        </div>

    </div>

</div>